.navbarScroll nav#mainNav.kontakt {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
}
.navbarScroll nav#mainNav.kontakt .collapse.in, .navbarScroll nav#mainNav.kontakt .collapsing {
    background-color: rgba(0, 0, 0, 0.7);
}
section#contact-section-form 
{
    background-repeat: no-repeat;
    background-position: center 0;
    background-size:  100% 100%;
    background-image: 
    linear-gradient(
      rgba(0,0,0, .6),
      rgba(0,0,0, .6)
    ),
    url('../../assets/img/contact-1-min.jpg');
    color: white;   
    padding-top: 120px;
    padding-bottom: 210px;

}
section#contact-section-form .container
{
    margin-top: 50px;
    position: relative;
    height: 100%;
}
section#contact-section-form .container .form-group .message-content
{
    resize: vertical;
    height: 100px;
}
section#contact-section-form .container .form-group .message-addon
{
    vertical-align: top;
    padding-top: 10px;
}
section#contact-section-form .container p
{
    margin-bottom: 0px;
    letter-spacing: 0.8px;
    font-family: Roboto slab;
}
section#contact-section-form .container h3
{
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 28px;
    font-family: Roboto slab;
}
section#contact-section-form .container .message-container-div
{
    border:1px solid #c0c0c0;
    padding: 30px;
    border-radius: 10px;
    /*box-shadow: 0 0 0 0px #fff, 0 0 10px 0px #666, inset 0 0 10px 0px #666;*/
}
@media (max-width: 700px){
    section#contact-section-form .container .message-container-div
    {
        padding: 15px;
    }
}
section#contact-section-form .show-hide-message
{
    clear: both;
    margin-top: 60px;
}







