<div class="container management-user">
    <div class="page-header">
       <h2 class="text-muted">Change password</h> 
    </div>
    <form ng-hide="reset.hide" name="regForm" ng-submit="reset.savePassword(regData, regForm.$valid, confirmed)" novalidate>
        <div ng-class="{ 'has-success':(regForm.firstPassword.$valid && !regForm.firstPassword.$pristine), 'has-error':(!regForm.firstPassword.$valid && !regForm.firstPassword.$pristine) || (!regForm.firstPassword.$valid && regForm.$submitted) }">
            <label>New password:</label>
            <input ng-disabled="reset.disabled" class="form-control" type="password" name="firstPassword" placeholder="Please enter new password" ng-model="firstPassword" ng-minlength="8" ng-maxlength="35" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[A-Z])[0-9a-zA-Z].{7,34}$/" required>
            <p class="help-block" ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.required) || (regForm.$submitted && regForm.firstPassword.$error.required)">Password is required</p>
            <ul ng-show="(!regForm.firstPassword.$pristine && regForm.firstPassword.$error.pattern) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.minlength) || (!regForm.firstPassword.$pristine && regForm.firstPassword.$error.maxlength)" class="help-block">
                <li>Must be at least one uppercase and one small letter</li>
                <li>Must be at least one number</li>
                <li>Must be at least 8 but no more than 35 characters</li>
            </ul>
        </div>
        <br>
        <div ng-class="{ 'has-success':confirmed && !regForm.confirmPassword.$error.required, 'has-error':(!confirmed && !regForm.confirmPassword.$error.required) || (regForm.confirmPassword.$error.required && !regForm.confirmPassword.$pristine) || (regForm.$submitted && regForm.confirmPassword.$error.required) }">
            <label>Confirm password:</label>
            <input ng-disabled="reset.disabled" class="form-control" type="password" name="confirmPassword" placeholder="Please confirm the password" match="{{[firstPassword]}}" ng-change="reset.regData.password = confirm" ng-model="confirm" required>
            <p class="help-block" ng-show="(!regForm.confirmPassword.$pristine && regForm.confirmPassword.$error.required) || (regForm.$submitted && regForm.confirmPassword.$error.required)">Confirm password is required</p>
            <p class="help-block" ng-show="!confirmed && !regForm.confirmPassword.$pristine && regForm.firstPassword.$valid">Passwords do not match</p>
        </div>
        <br>
        <button ng-disabled="reset.disabled" class="btn btn-primary" type="submit">Change password</button>
    </form>
    <br>
    <div ng-show="reset.loading" class="loading">
        <span class="glyphicon loading"></span>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="reset.successMsg">
        <div class="alert alert-success">{{ reset.successMsg }}</div>
    </div>
    <br>
    <div class="row show-hide-message" ng-show="reset.errorMsg">
        <div class="alert alert-danger">{{ reset.errorMsg }}</div>
    </div>
</div>