<section class="myCoursesPanel">
    <div class="container">
        <div class="headerNewCourse">
            <h1 ng-if="video.myCourses.length">Your courses</h1>
            <h1 ng-if="!video.myCourses.length">Unfortunately, you do not take part in any of the courses.</h1>
            <p>Because there is no more certain and more valuable thing than your own knowledge.</p>
        </div>
        <div class="container-product" ng-if="video.myCourses.length">
            <div ng-repeat="product in video.myCourses.slice(((video.currentPage-1)*video.itemsPerPage), (video.currentPage*video.itemsPerPage))" class="con-new-pro col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="product">
                    <div class="button-directions">
                        <img src="../../uploads/{{ product.imagePath }}" alt="#">
                        <div class="play-hover">
                            <a ui-sref="parent.myCourse({username: video.username, id:product._id})" ng-click="main.scroll()"><span class="glyphicon glyphicon-play-circle"></span>Watch</a>
                        </div>
                        <i class="level" ng-class="product.level" product-level-course></i> 
                    </div>
                    <h2>{{product.title}}</h2>
                    <h3>{{product.subTitle}}</h3>
                    <div class="description-list-group">
                        <ol>
                            <ul class="text-center">
                                <li ng-repeat="item in product.description">{{ item }}</li> 
                            </ul>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-center" ng-if="video.myCourses.length > video.itemsPerPage">
            <pagination total-items="video.myCourses.length" ng-model="video.currentPage" class="pagination-sm text-center" items-per-page="video.itemsPerPage" previous-text="Poprzednia" next-text="Następna"></pagination>     
        </div> 
    </div>
</section>