<div class="container" id="AdminLogin" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modal-body-login">
                <h3 class="text-muted text-center">Admin Dashboard</h3>
                <h4 class="text-muted text-center">Sign in</h4>
                <div class=" text-center log-reg-admin">
                    <a role="button" ui-sref="adminRegister" class="forgot-password reg-new-admin">Sign up</a>
                    <a role="button" ui-sref="parent.home" class="forgot-password">Back to home page</a>
                </div>
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" name="formSignin" ng-submit="dashboard.loginAdmin(dashboard.loginAdminData, formSignin.$valid)" novalidate>
                    <div ng-class="{'has-success': (formSignin.admin.$valid && !formSignin.admin.$pristine), 'has-error':(!formSignin.admin.$valid && formSignin.$submitted) || (!formSignin.admin.$valid && !formSignin.admin.$pristine)}" class="signin_pass"> 
                        <label for="admin">Username</label>
                        <input type="text" id="admin" class="form-control username-form" name="admin" placeholder="Enter the username" ng-model="dashboard.loginAdminData.admin" required/>
                        <p class="help-block checking-data" ng-show="(!formSignin.admin.$pristine && formSignin.admin.$error.required) || (formSignin.$submitted && formSignin.admin.$error.required)">Username is required</p>
                        <span ng-if="dashboard.loading" class="glyphicon loading"></span>
                    </div>
                    <br>
                    <div ng-class="{'has-success': (formSignin.secret.$valid && !formSignin.secret.$pristine), 'has-error':(!formSignin.secret.$valid && formSignin.$submitted) || (!formSignin.secret.$valid && !formSignin.secret.$pristine)}" class="signin_pass"> 
                        <label for="secret">Admin password</label>
                        <input type="password" name="secret" id="secret" class="form-control password-form" placeholder="Enter the admin password" ng-model="dashboard.loginAdminData.secret" required/>
                        <p class="help-block checking-data" ng-show="(!formSignin.secret.$pristine && formSignin.secret.$error.required) || (formSignin.$submitted && formSignin.secret.$error.required)">Admin password is required</p>
                        <span ng-if="dashboard.loading" class="glyphicon loading"></span>
                    </div>
                    <br>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                    <div class="row-fluid show-hide-message" ng-show="dashboard.successMsg">
                        <div class="alert alert-success">{{ dashboard.successMsg }}</div>
                    </div>
                    <div class="row-fluid show-hide-message" ng-show="dashboard.errorMsg">
                        <div class="alert alert-danger">{{ dashboard.errorMsg }}&nbsp<a ng-click="main.hideLoginModal()" ng-show="dashboard.expired" href="/dashboard/admin/resend" class="text-right"><button type="button" class="btn btn-success">Send activation link</button></a></div>
                    </div>
                </form>                                           
            </div>
        </div>
    </div>
</div>
<div ng-show="dashboard.loadingPage" class="loading">
    <span class="glyphicon loading"></span>
</div>