<div class="users-management">
    <div class="widgets">
        <div class="container-users">
            <h1 class="col-xs-12 users-table">Admin account edtion</h1>
            <div class="row-users">
                <section id="editAdminAccount">
                    <div class="col-xs-6">
                        <div class="panel panel-blur with scroll animated zoomIn">
                            <div class="panel-heading clearfix">
                                <h3 class="hidden-xs panel-title pull-left">Admin details</h3> 
                            </div> 
                            <div class="panel-body">
                                <div class="horizontal-scroll">
                                    <div class="management-user">
                                        <form name="editAccountAdmin" ng-submit="editAdmin.saveChanges(change, editAccountAdmin.$valid)" novalidate>
                                            <div class="edit-user-box">
                                                <div ng-class="{'has-success': (editAccountAdmin.changeAdminUsername.$valid && !editAccountAdmin.changeAdminUsername.$pristine && !editAdmin.usernameInvalid && editAccountAdmin.changeAdminUsername.$dirty), 'has-error': (!editAccountAdmin.changeAdminUsername.$valid && !editAccountAdmin.changeAdminUsername.$pristine) || (!editAccountAdmin.changeAdminUsername.$valid && editAccountAdmin.$submitted) || editAdmin.usernameInvalid }" class="col-xs-12 hor_row_data">
                                                    <label for="changeAdminUsername">
                                                        <h3>Username</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.change.changeUsername" ng-blur="editAdmin.checkChangedUsername(change)" name="changeAdminUsername" ng-minLength="3" ng-maxLength="20" ng-disabled="editAdmin.disabledProfile" type="text" ng-pattern="/^[a-zA-Z0-9,ą,ę,ó,ć,ż,ź,ł,ń,Ą,Ę,Ó,Ć,Ż,Ź,Ł,Ń]+(([ ][a-zA-Z,ą,ę,ó,ć,ż,ź,ł,ń,Ą,Ę,Ó,Ć,Ż,Ź,Ł,Ń])?[a-zA-Z,ą,ę,ó,ć,ż,ź,ł,ń,Ą,Ę,Ó,Ć,Ż,Ź,Ł,Ń]*)*$/" id="changeAdminUsername" class="form-control" placeholder="Please enter the username" required>
                                                    <p class="help-block checking-data" ng-show="(!editAccountAdmin.changeAdminUsername.$pristine && editAccountAdmin.changeAdminUsername.$error.required) || (editAccountAdmin.$submitted && editAccountAdmin.changeAdminUsername.$error.required)">Username is required</p>
                                                    <div ng-if="editAdmin.loadingUsername && editAccountAdmin.changeAdminUsername.$dirty" class="loading"><span  class="glyphicon loading"></span></div>
                                                    <span ng-if="editAdmin.usernameMsg && !editAccountAdmin.changeAdminUsername.$error.required && editAccountAdmin.changeAdminUsername.$valid && editAccountAdmin.changeAdminUsername.$dirty" class="glyphicon glyphicon-ok correct"><p>Invalid username</p></span>
                                                    <p class="help-block checking-data" ng-if="editAdmin.usernameErrMsg && !editAccountAdmin.changeAdminUsername.$error.required && !editAccountAdmin.changeAdminUsername.$valid && editAccountAdmin.changeAdminUsername.$dirty">{{ editAdmin.usernameErrMsg }}</p>
                                                    <ul ng-show="(!editAccountAdmin.changeAdminUsername.$pristine && editAccountAdmin.changeAdminUsername.$error.pattern) || (!editAccountAdmin.changeAdminUsername.$pristine && editAccountAdmin.changeAdminUsername.$error.minlength) || (!editAccountAdmin.changeAdminUsername.$pristine && editAccountAdmin.changeAdminUsername.$error.maxlength)" class="help-block">
                                                        <li>Must not contain any special characters</li>
                                                        <li>After space must not contain any numbers</li>
                                                        <li>Must contain at least 3 but no more than 20 characters</li>
                                                    </ul>
                                                </div>
                                                <div ng-class="{'has-success': (editAccountAdmin.changeAdminEmail.$valid && !editAccountAdmin.changeAdminEmail.$pristine && !editAdmin.emailInvalid && editAccountAdmin.changeAdminEmail.$dirty), 'has-error': (!editAccountAdmin.changeAdminEmail.$valid && !editAccountAdmin.changeAdminEmail.$pristine) || (!editAccountAdmin.changeAdminEmail.$valid && editAccountAdmin.$submitted) || editAdmin.emailInvalid }" class="col-xs-12 hor_row_data">
                                                    <label for="changeAdminEmail">
                                                        <h3>Email address</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.change.changeEmail" ng-blur="editAdmin.checkChangedEmail(change)" name="changeAdminEmail" ng-minLength="3" ng-maxLength="30" ng-disabled="editAdmin.disabledProfile" ng-pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/" type="text" id="changeAdminEmail" class="form-control" placeholder="Please enter the email address" required>
                                                    <p class="help-block checking-data" ng-show="(!editAccountAdmin.changeAdminEmail.$pristine && editAccountAdmin.changeAdminEmail.$error.required) || (editAccountAdmin.$submitted && editAccountAdmin.changeAdminEmail.$error.required)">Email address is required</p>
                                                    <div ng-if="editAdmin.loadingEmail" class="loading"><span class="glyphicon loading"></span></div>
                                                    <span ng-if="editAdmin.emailMsg && !editAccountAdmin.changeAdminEmail.$error.required && editAccountAdmin.changeAdminEmail.$valid && editAccountAdmin.changeAdminEmail.$dirty" class="glyphicon glyphicon-ok correct"><p>Email address is correct</p></span>
                                                    <p class="help-block checking-data" ng-show="editAdmin.emailErrMsg && !editAccountAdmin.changeAdminEmail.$error.required && !editAccountAdmin.changeAdminEmail.$valid && editAccountAdmin.changeAdminEmail.$dirty">{{ editAdmin.emailErrMsg }}</p>
                                                    <ul ng-show="(!editAccountAdmin.changeAdminEmail.$pristine && editAccountAdmin.changeAdminEmail.$error.pattern) || (!editAccountAdmin.changeAdminEmail.$pristine && editAccountAdmin.changeAdminEmail.$error.minlength) || (!editAccountAdmin.changeAdminEmail.$pristine && editAccountAdmin.changeAdminEmail.$error.maxlength)" class="help-block edit_own_editAdmin">
                                                        <li>Must contain "@"</li>
                                                        <li>Must contain at least 3 but no more than 30 characters</li>
                                                        <li>After dot must contain at least 2 but no more than 4 characters</li>
                                                    </ul>
                                                </div>                  
                                                <div ng-class="{'has-success': (editAccountAdmin.changeAdminName.$valid && !editAccountAdmin.changeAdminName.$pristine && editAccountAdmin.changeAdminName.$dirty), 'has-error': (!editAccountAdmin.changeAdminName.$valid && !editAccountAdmin.changeAdminName.$pristine) ||(!editAccountAdmin.changeAdminName.$valid && editAccountAdmin.$submitted)}" class="col-xs-12 hor_row_data">
                                                    <label for="changeAdminName">
                                                        <h3>Name</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.change.changeName" name="changeAdminName" ng-minLength="3" ng-maxLength="30" ng-disabled="editAdmin.disabledProfile" ng-pattern="/^(([a-zA-Z]{3,30})+[ ]+([a-zA-Z]{3,30})+)+$/" type="text" id="changeAdminName" class="form-control" placeholder="Please enter the name" required>
                                                    <p class="help-block checking-data" ng-show="(!editAccountAdmin.changeAdminName.$pristine && editAccountAdmin.changeAdminName.$error.required) || (editAccountAdmin.$submitted && editAccountAdmin.changeAdminName.$error.required)">Name is required</p>
                                                    <ul ng-show="(!editAccountAdmin.changeAdminName.$pristine && editAccountAdmin.changeAdminName.$error.pattern) || (!editAccountAdmin.changeAdminName.$pristine && editAccountAdmin.changeAdminName.$error.minlength) || (!editAccountAdmin.changeAdminName.$pristine && editAccountAdmin.changeAdminName.$error.maxlength)" class="help-block edit_own_editAdmin">
                                                        <li>Must be space between name and surname</li>
                                                        <li>Must contain at least 3 but no more than 30 characters</li>
                                                        <li>Must not contain any special characters and numbers</li>
                                                    </ul>
                                                </div>
                                                <div class="col-xs-12 hor_row_button">
                                                    <a class="btn btn-primary" ng-click="editAdmin.editProfile()">Edit</a>
                                                    <button ng-disabled="editAdmin.disabledProfile" class="btn btn-success pull-right" type="submit">Save changes</button>
                                                    <div class="row-fluid show-hide-message" ng-show="editAdmin.successChanged">
                                                        <div class="alert alert-success changed-alert">{{ editAdmin.successChanged}}</div>
                                                    </div>
                                                    <div class="row-fluid show-hide-message" ng-show="editAdmin.adminAccountErrMsg">
                                                        <div class="alert alert-danger changed-alert">{{ editAdmin.adminAccountErrMsg}}</div>
                                                    </div>
                                                    <div class="jumbotron text-center" ng-show="editAdmin.saveChangesLoading">
                                                        <span class="glyphicon glyphicon-repeat spinner"></span>
                                                        <p>Saving....</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="panel panel-blur with scroll animated zoomIn">
                            <div class="panel-heading clearfix">
                                <h3 class="hidden-xs panel-title pull-left">Access settings</h3> 
                            </div> 
                            <div class="panel-body">
                                <div class="horizontal-scroll">
                                    <div class="management-user">
                                        <form name="changeAdminPassword" ng-submit="editAdmin.saveChangePassword(pass, changeAdminPassword.$valid)" novalidate>
                                            <div class="edit-user-box">
                                                <div ng-class="{'has-success': (changeAdminPassword.currentPass.$valid && !changeAdminPassword.currentPass.$pristine && !editAdmin.passwordInvalid && changeAdminPassword.currentPass.$dirty), 'has-error':(!changeAdminPassword.currentPass.$valid && changeAdminPassword.$submitted) || (!changeAdminPassword.currentPass.$valid && !changeAdminPassword.currentPass.$pristine && changeAdminPassword.currentPass.$error.required) || editAdmin.passwordInvalid}" class="col-xs-12 hor_row_data">     
                                                    <label for="currentPass">
                                                        <h3>Current password</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.pass.currentPass" ng-blur="editAdmin.checkCurrPass(pass)" name="currentPass" ng-minLength="8" ng-maxLength="35" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[A-Z])[0-9a-zA-Z].{7,34}$/" ng-disabled="editAdmin.disabled" type="password" id="currentPass" class="form-control" placeholder="Please enter current password" required>
                                                    <p class="help-block checking-data" ng-show="(!changeAdminPassword.currentPass.$pristine && changeAdminPassword.currentPass.$error.required) || (changeAdminPassword.$submitted && changeAdminPassword.currentPass.$error.required)">Current password is required</p>
                                                    <div ng-if="editAdmin.loadingPassword && changeAdminPassword.currentPass.$dirty" class="loading"><span  class="glyphicon loading"></span></div>
                                                    <span ng-if="editAdmin.passMsg && !changeAdminPassword.currentPass.$error.required && changeAdminPassword.currentPass.$valid && changeAdminPassword.currentPass.$dirty" class="glyphicon glyphicon-ok correct"><p>Password is correct</p></span>
                                                    <p class="help-block checking-data" ng-show="(editAdmin.passErrMsg && !changeAdminPassword.currentPass.$error.required &&    !changeAdminPassword.currentPass.$valid && changeAdminPassword.currentPass.$dirty) || (editAdmin.passErrMsg && !changeAdminPassword.currentPass.$error.required && changeAdminPassword.currentPass.$dirty)">{{ editAdmin.passErrMsg }}</p>
                                                </div>
                                                <div ng-class="{'has-success': (changeAdminPassword.newPass.$valid && !changeAdminPassword.newPass.$pristine && !editAdmin.compareInvalid), 'has-error':(!changeAdminPassword.newPass.$valid && changeAdminPassword.$submitted) || (!changeAdminPassword.newPass.$valid && !changeAdminPassword.newPass.$pristine) || editAdmin.compareInvalid}" class="col-xs-12 hor_row_data">
                                                    <label for="newPass">
                                                        <h3>New password</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.pass.newPass" ng-blur="editAdmin.comparePasswords(pass)" ng-minLength="8" ng-maxLength="35" ng-pattern="/^(?=.*\d)(?=.*[a-zA-Z])(?=.*[A-Z])[0-9a-zA-Z].{7,34}$/" name="newPass" ng-disabled="editAdmin.disabled" type="password" id="newPass" class="form-control" placeholder="Please enter new password" required>
                                                    <div ng-if="editAdmin.loadingNewPassword && changeAdminPassword.newPass.$dirty" class="loading"><span  class="glyphicon loading"></span></div>
                                                    <span ng-if="editAdmin.comMsg && editAdmin.passMsg && changeAdminPassword.newPass.$valid &&!changeAdminPassword.newPass.$pristine" class="glyphicon glyphicon-ok correct"><p>New password is correct</p></span>
                                                    <p class="help-block checking-data" ng-show="(editAdmin.comErrPass && !changeAdminPassword.newPass.$error.required &&   !changeAdminPassword.newPass.$valid && changeAdminPassword.newPass.$dirty) || (editAdmin.comErrPass && !changeAdminPassword.newPass.$error.required && changeAdminPassword.newPass.$dirty)">{{ editAdmin.comErrPass }}</p>
                                                    <p class="help-block checking-data" ng-show="(!changeAdminPassword.newPass.$pristine && changeAdminPassword.newPass.$error.required) || (changeAdminPassword.$submitted && changeAdminPassword.newPass.$error.required)">New password is required</p>
                                                    <ul ng-show="(!changeAdminPassword.newPass.$pristine && changeAdminPassword.newPass.$error.pattern) || (!changeAdminPassword.newPass.$pristine && changeAdminPassword.newPass.$error.minlength) || (!changeAdminPassword.newPass.$pristine && changeAdminPassword.newPass.$error.maxlength)" class="help-block edit_own_editAdmin">
                                                        <li>Must contain at least one uppercase letter</li>
                                                        <li>Must contain at least one small letter</li>
                                                        <li>Must contain at least one number</li>
                                                        <li>Must contain at least 8 but no more than 35 characters</li>               
                                                    </ul>    
                                                </div>       
                                                <div ng-class="{'has-success': (changeAdminPassword.newPass.$valid && changeAdminPassword.confirmPass.$valid && !changeAdminPassword.confirmPass.$pristine && !editAdmin.compareInvalid), 'has-error':(!changeAdminPassword.confirmPass.$valid && changeAdminPassword.$submitted) || (!changeAdminPassword.confirmPass.$valid && !changeAdminPassword.confirmPass.$pristine ) || (!changeAdminPassword.newPass.$valid && !changeAdminPassword.confirmPass.$pristine) || (!changeAdminPassword.newPass.$valid && changeAdminPassword.$submitted) || editAdmin.compareInvalid}" class="col-xs-12 hor_row_data">
                                                    <label for="confirmPass">
                                                        <h3>Confirm password</h3>
                                                    </label>
                                                    <input ng-model="editAdmin.pass.confirmPass" ng-pattern="editAdmin.pass.newPass" name="confirmPass" ng-disabled="editAdmin.confirmDisabled" type="password" id="confirmPass" class="form-control" placeholder="Please repeat password" required>
                                                    <p class="help-block checking-data" ng-show="changeAdminPassword.confirmPass.$error.pattern && !changeAdminPassword.confirmPass.$pristine">Passwords do not match</p>
                                                    <p class="help-block checking-data" ng-show="(!changeAdminPassword.confirmPass.$pristine && changeAdminPassword.confirmPass.$error.required) || (changeAdminPassword.$submitted && changeAdminPassword.confirmPass.$error.required)">Confirm password is required</p>
                                                    <span ng-if="editAdmin.comMsg && editAdmin.passMsg && changeAdminPassword.newPass.$valid && changeAdminPassword.confirmPass.$valid && !changeAdminPassword.confirmPass.$pristine" class="glyphicon glyphicon-ok correct"><p>Passwords match</p></span>
                                                </div>
                                                <div class="col-xs-12 hor_row_button">
                                                    <button class="btn btn-warning" type="submit">Change password</button>
                                                    <div class="jumbotron text-center" ng-show="editAdmin.saveNewPassword">
                                                        <span class="glyphicon glyphicon-repeat spinner"></span>
                                                        <p>Saving....</p>
                                                    </div>
                                                    <div class="row-fluid show-hide-message" ng-show="editAdmin.showPassMsg">
                                                        <div class="alert alert-success changed-alert">{{ editAdmin.showPassMsg }}</div>
                                                    </div>
                                                    <div class="row-fluid show-hide-message" ng-show="editAdmin.showPassErr">
                                                        <div class="alert alert-danger changed-alert">{{ editAdmin.showPassErr }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div ng-show="editAdmin.loadingPage" class="loading">
    <span class="glyphicon loading"></span>
</div>
    