<div class="users-management">
    <div class="widgets">
        <div class="container-users">
            <div class="row-users">
                <div class="col-xs-8 col-xs-offset-2">
                    <h1>Dahboard home page is not finish</h1>
                    <ul>
                        <li>Here should be traffic diagrams, orders diagrams</li>
                        <li>Various types of statistics</li>
                        <li>Last messages from users, last comments to articles or courses</li>
                        <li>etc</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>